#paragraf3{
    background-color: greenyellow;
}

#paragraf1{
    background-color: blue;
}

.ortak{
    background-color: darkviolet;
}

#paragraf5{
    background-color: yellow;
}

#paragraf2{
    background-color: green;
}